body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
margin: 0;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 9rem;
  float: left;
}


/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
.logo .navbar-brand {
  height: 80px;
}

.logo .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo h1 {

 color: white;
   }

.logo img {
  float: left;

    height: 100px;
   }

   .col-md-6,.offset-md-0{
     border: 1px solid black;

   }
aside {
    height: 100%;
    position: fixed;
    background-color: gray;
    width: 230px;
    color: black;
}
